# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=5

# The entry name that will be displayed in the boot menu.
:Kitty OS
	# We use the Limine boot protocol.
	PROTOCOL=limine
	KASLR=no

	MODULE_PATH=boot:///autorun.ico
	MODULE_CMDLINE=autorun.ico
	MODULE_PATH=boot:///registry/kernel/SysInfo.kr
	MODULE_CMDLINE=registry$kernel$SysInfo.kr

	KERNEL_PATH=boot:///kernel
